* {
  margin: 0;
  padding: 0;
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: cursive;
  background: #000 url("quetzalcoatl2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: justify;
  background: rgba(255, 255, 255, 0.2);
}

audio {
  border: double 2px red;
  left: 40%;
  position: relative;
  margin-top: 20px;
  padding: 2px;
  /*Aqui terminan los estilos generales*/
}

header {
  width: 100%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(pink), to(green));
  background: linear-gradient(to right, yellow, pink, green);
  margin-top: 20px;
  border-radius: 5px;
}

header .menu a {
  color: yellow;
  text-decoration: none;
  font-size: 18px;
  margin-right: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px black;
}

header .menu a:hover {
  border-bottom: solid 2px green;
  color: darkred;
}

header .logo img {
  border-radius: 3px;
  margin-left: 20px;
}

/* Aqui terminan los estilos del Header*/
.main {
  background: rgba(255, 255, 255, 0.2);
  width: 70%;
  padding: 20px;
}

.main article .thumb {
  margin-bottom: 20px;
}

.main article img {
  vertical-align: top;
  width: 100%;
  border-radius: 5px;
  border: dotted 1px red;
  padding: 2px;
}

.main article h2 {
  font-family: 'Special Elite', Cursive;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

.main article h3 {
  font-family: 'Special Elite', Cursive;
  font-size: 30px;
  margin-bottom: 10px;
}

.main article .ambiente {
  font-size: 14px;
  margin: 20px;
  line-height: 27px;
  text-transform: lowercase;
}

.main article video {
  width: 100%;
  -webkit-box-shadow: 0 0 30px gold;
          box-shadow: 0 0 30px gold;
  padding: 3px;
  border: double 2px red;
}

.main article p {
  margin: 20px;
  font-size: 14px;
  line-height: 27px;
}

.main article p::-moz-selection {
  color: fuchsia;
  background: cyan;
}

.main article p::selection {
  color: fuchsia;
  background: cyan;
}

/*Aqui termina el contenido central*/
aside {
  width: 30%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: double 3px black;
}

aside h4 {
  text-align: center;
}

aside .links li a {
  display: block;
  color: green;
  margin: 10px 0;
  list-style: disc;
}

aside .links li a:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

aside div img {
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
}

aside div img:hover {
  border-radius: 5px;
  border: solid yellow 1px;
}

aside .anuncio {
  text-align: center;
  color: brown;
  background: yellow;
  text-shadow: 1px 1px 1px black;
  padding: 50px 0;
  font-size: 20px;
  margin: 10px 0;
  border: double 2px brown;
}

aside p {
  font-size: 18px;
}

/*Aqui terminan los estilos del aside*/
footer {
  width: 100%;
  color: snow;
  margin: 20px 0;
  background: #d13e61;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .autor {
  text-shadow: 1px 1px 1px darkred;
  margin-top: 20px;
}

footer .redes-sociales a img {
  width: 50px;
  margin-left: 20px;
  border-radius: 5px;
}

footer .redes-sociales a img:hover {
  -webkit-box-shadow: 0 11px 16px 1px snow;
          box-shadow: 0 11px 16px 1px snow;
}

/*Aqui terminan los estilos del footer*/
@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }
  aside {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  aside .anuncio {
    width: 40%;
    margin: 10px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  header .menu {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 20px;
  }
  header .menu a {
    margin: 0 20px;
  }
  header .logo {
    margin-bottom: 20px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .autor {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .redes-sociales {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
  aside .anuncio {
    margin: 10px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 400px) {
  aside {
    display: none;
  }
  audio {
    display: none;
  }
}

/*Aqui terminan los mediaqueries*/
.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 20%;
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}
/*# sourceMappingURL=xomex.css.map */
